<div
  class="{{this.dragSnapClass}} z-10 {{if this.isDragging 'z-20 pointer-events-none'}}"
  style={{this.dragStyle}}
  {{did-insert this.didInsert}}
  {{on "mousedown" (fn this.onMouseDown)}}
  ...attributes>
  {{yield}}
</div>