<div
  class="relative {{if this.dragHover @dragHoverClass}}"
  {{on "mouseenter" (fn this.onMouseEnter)}}
  {{on "mouseleave" (fn this.onMouseLeave)}}
  {{did-insert this.didInsert}}
  ...attributes>
  {{yield (hash
    items=this.items
    itemCount=this.itemCount
    draggable=(component 'draggable' dropZone=this)
  )}}
</div>